<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @property, local: true) do |form| %>
      <%= form.text_field :name, placeholder: "物件名" %>
      <%= form.text_field :postal_code, placeholder: "郵便番号" %>
      <%= form.text_field :prefecture_id, placeholder: "都道府県" %>
      <%= form.text_field :city, placeholder: "市町村" %>
      <%= form.text_field :street_number, placeholder: "番地" %>
      <%= form.text_field :room_number, placeholder: "部屋番号" %>
      <%= form.text_field :building_type_id, placeholder: "建築様式" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>