<div class="property-details">
  <h1>物件詳細</h1>

  <ul class="property-info">
    <li><span>物件名:</span> <%= @property.name %></li>
    <li><span>郵便番号:</span> <%= @property.postal_code %></li>
    <li><span>都道府県:</span> <%= @property.prefecture[:name] %></li>
    <li><span>市区町村:</span> <%= @property.city %></li>
    <li><span>丁目番地:</span> <%= @property.street_number %></li>
    <li><span>部屋番号:</span> <%= @property.room_number %></li>
    <li><span>建物の種類:</span> <%= @property.building_type[:name] %></li>
  </ul>

  <% if @property.image.attached? %>
    <%= image_tag @property.image, class: 'property-image' %>
  <% else %>
    <p>画像なし</p>
  <% end %>

  <% if user_signed_in? && current_user.id == @property.user_id %>
    <div class="property-actions">
      <%= link_to '経費入力', new_property_expense_path(@property) %>
      <%= link_to '収入入力', new_property_income_path(@property) %>
    </div>
  <% end %>

  <h1><%= @property.name %> の収支</h1>
  <div class="yearly-financials">
    <p>収支を見る:</p>
    <ul>
      <% @years.each do |year| %>
        <li>
          <%= link_to "#{year}年の収支を見る", yearly_financials_property_path(@property, year: year) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
