<h1>物件詳細</h1>

<%= @property.name %>
<%= @property.postal_code %>
<%= @property.prefecture[:name] %>
<%= @property.city %>
<%= @property.street_number %>
<%= @property.room_number %>
<%= @property.building_type[:id] %>
<% if @property.image.attached? %>
  <%= image_tag @property.image, class: 'propeerty-image'if @property.image.attached? %>
<% else %>
  画像なし
<% end %>

<%= link_to '経費', new_property_expense_path(@property) %>
<%= link_to '収入', new_property_income_path(@property) %>

<h1><%= @property.name %></h1>

<p>収支を見る:</p>
<ul>
  <% @years.each do |year| %>
    <li>
      <%= link_to "#{year}年の収支を見る", yearly_financials_property_path(@property, year: year) %>
    </li>
  <% end %>
</ul>
