<div class="income-form">
  <h1>収支欄編集</h1>

  <%= form_with(model: [@property, @income], local: true) do |form| %>
    <div>
      <%= form.label :year, "年" %>
      <%= form.number_field :year, value: params[:year] || Time.now.year, min: 1900, max: 2100 %>
    </div>

    <div>
      <%= form.label :month, "月" %>
      <%= form.number_field :month, value: params[:month] || Time.now.month, min: 1, max: 12 %>
    </div>

    <div>
      <%= form.label :rent, "家賃" %>
      <%= form.text_field :rent, placeholder: "家賃" %>
    </div>

    <div>
      <%= form.label :key_money, "礼金" %>
      <%= form.text_field :key_money, placeholder: "礼金" %>
    </div>

    <div>
      <%= form.label :other_income, "その他の収入" %>
      <%= form.text_field :other_income, placeholder: "その他の収入" %>
    </div>

    <div>
      <%= form.submit "送信" %>
    </div>
  <% end %>
</div>
