<h1>収支一覧</h1>

<% if @incomes.any? %>
  <table>
    <thead>
      <tr>
        <th>家賃</th>
        <th>礼金</th>
        <th>修繕費</th>
        <th>その他の収入</th>
        <th>月毎合計収入</th>
        <th>年毎合計収入</th>
      </tr>
    </thead>
    <tbody>
      <%year_sum = 0%>
      <% @incomes.each do |income| %>
        <tr>
          <td><%= income.rent %></td>
          <td><%= income.key_money %></td>
          <td><%= income.renewal_fee %></td>
          <td><%= income.other_income %></td>
          <td><%= mouns_sum = income.rent + income.key_money + income.renewal_fee + income.other_income%></td>
        
        <%year_sum += mouns_sum%>
      <% end %>
      <td><%= year_sum%><td>
      </tr>
    </tbody>
  </table>
<% else %>
  <p>収支がありません。</p>
<% end %>

